:root {
    /* Colors */
    --white: #FFF;
    --black: #000;

    /* fonts  */
    --roboto: "Monteserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--roboto);
}

a {
    color: var(--white);
    font-family: var(--roboto);
    font-size: 13.5px;
}

a:visited {
    color: var(--white);
}

button {
    font-size: 13.5px;
}

.header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top:24px;
    padding-bottom: 24px;
}

/* To get logos vertically centered */
.header__logos-container>.header__logo>a, .header__logos-container>.header__logo {
    display: flex;
    align-items: center;
}

/* --------------------------------------------------- */
/* Hiding elements for mobile view */
.header__logo--rockstar>a>img, .header__nav-desktop, .header__button--buy, .header__button--search, .header__hamburger-menu, .vertical-div, .desktop__list--catalogue, .desktop__list--support, .desktop__list--media {
    display: none;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Setting some styles for buttons */
.header__hamburger-btn, .header__button, button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.header__button--buy {
    border: 1px solid var(--white);
    border-radius: 24px;
    padding-inline: 16px;
    padding-block: 10px;
}

.desktop__list-element button, .desktop__list-element a {
    display: flex;
    align-items: center;
}

.desktop__list--catalogue img, .desktop__list--support img {
    width: 20px;
    height: auto;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Order of elements in the mobile header */
.header__hamburger-btn {
    order: 1;
}

.header__logos-container {
    order: 2;
}

.header__button-container {
    order: 3;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Setting a width for the logos in mobile view */
.header__logo--rdr2 img {
    height: auto;
    width: 195px;
    align-self: center;
}

.header__logo--rockstar>a>img {
    width: 32px;
    height: auto;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Setting size for the button/icons in mobile view */
.header__button--profile, .header__hamburger-btn {
    width: 32px;
    height: 32px;
}

.header__hamburger-btn img, .header__button--profile img {
    width: 24px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
@media (min-width: 1024px) {

    /* xxxxxxxxxxxxxxxxxxx HEADER xxxxxxxxxxxxxxxxxxxxxx */

    .header {
        padding-inline: 64px;
        padding-block: 28px;
    }

    .header__logo--rockstar>a>img, .vertical-div, .header__nav-desktop, .header__button--search, .header__button--buy {
        display: flex;
    }
    
    .header__hamburger-btn, .desktop__list--explore, .desktop__list--progress {
        display: none;
    }

    /* Set the new order for the elements  */
    .header__logos-container {
        order: 1;
    }
    .header__nav-desktop {
        order: 2;
    }
    /* --------------------------------------- */
    
    /* Set containers as flexbox */
    .header__logos-container {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    
    .header__nav-desktop ul {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header__button-container {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    /* --------------------------------------- */
    
    /* Vertical div between logos */
    .vertical-div {
        background-color: #828282;
        width: 2px;
        height: 24px;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
}

@media (min-width: 1075px) {
    .desktop__list--explore {
        display: flex;
    }
}

@media (min-width: 1184px) {
    .desktop__list--progress {
        display: flex;
    }
}

@media (min-width: 1512px) {
    .desktop__list--catalogue, .desktop__list--support {
        display: flex;
    }
}
