:root {
    --white: #FFF;
    --black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    /* background-color: var(--black); */
}

.header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top:24px;
    padding-bottom: 24px;
}



/* --------------------------------------------------- */
/* Hiding elements for mobile view */
.header__logo--rockstar, .header__nav-desktop, .header__button--buy, .header__button--search, .header__hamburger-menu, .vertical-div {
    display: none;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Hiding elements for mobile view */
.header__hamburger-btn, .header__button, button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white);
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Order of elements in the mobile header */
.header__hamburger-btn {
    order: 1;
}

.header__logos-container {
    order: 2;
}

.header__button-container {
    order: 3;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Setting a width for the logo in mobile view */
.header__logo--rdr2 img {
    height: auto;
    width: 195px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
/* Setting size for the button/icons in mobile view */
.header__button--profile, .header__hamburger-btn {
    width: 32px;
    height: 32px;
}

.header__hamburger-btn img, .header__button--profile img {
    width: 24px;
}
/* --------------------------------------------------- */



/* --------------------------------------------------- */
@media (min-width: 1024px) {
    /* --------------------------------------------------- */
    /* HEADER */
    .header__logo--rockstar, .vertical-div, .header__nav-desktop, .header__button--search, .header__button--buy {
        display: block;
    }
    
    .header__hamburger-btn, .desktop__list--explore, .desktop__list--progress {
        display: none;
    }

}